@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Rejection sampling</h2>
</div>

<p>rejection sampling is a basic technique used to generate observations from a distribution. It is also commonly called the acceptance-rejection method or "accept-reject algorithm" and is a type of exact simulation method.</p>